@page 
@model ActividadesSugeridasRazorPages.Pages.TipoActividadesSugeridas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Tipos de Actividades Sugeridas</h2>


<p>
    <a  class="btn btn-success btn-md active" role="button" asp-page="Create">Crear Nuevo Tipo de Actividad</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    Id
                </th>
                <th>
                    Descripción
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TipoActividadSugerida) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoActividadSugerida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesTipoActividadSugerida)
            </td>
            <td>
                <a class="btn btn-default btn-md active" role="button" asp-page="./Edit" asp-route-id="@item.IdTipoActividadSugerida">Editar</a> |
                <a class="btn btn-info btn-md active" role="button" asp-page="./Details" asp-route-id="@item.IdTipoActividadSugerida">Detalles</a> |
                <a class="btn btn-danger btn-md active"  role="button" asp-page="./Delete" asp-route-id="@item.IdTipoActividadSugerida">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
